* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background: #F9F9F9;
    font-family: "Manrope", sans-serif;
}

.container {
    border: 1px solid red;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.top-hr {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.manrope-uniquifier {

    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* ------------navbar---------- */
.navbar {
    width: 100%;
    /* background: white; */
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-item:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 45px;
    height: 40px;
    background: transparent;
}

.nav-link {

    color: #2D2D2D;
    font-size: 16px;

    &:hover {
        color: #1c6fce;
        transition: 0.9s;
        -webkit-transition: 0.9s;
        -moz-transition: 0.9s;
        -ms-transition: 0.9s;
        -o-transition: 0.9s;
    }

}

/* ----------------header--------------- */
.header {
    width: 100%;
}

.header-box {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.header-left {
    max-width: 680px;
    height: 400px;
    padding: 10px 0 0 0;
    border: 1px solid rgba(0, 0, 0, 0.059);
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

    &:hover {
        box-shadow: 2px 2px 10px 2px #d9d9d9;
        transition: 0.6s;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -ms-transition: 0.6s;
        -o-transition: 0.6s;
    }
}



.header-title {
    background: white;

    line-height: 30px;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 0;
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

.header-subtitle {
    background: white;

    font-size: 18px;
    color: #1c6fce;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0px 81px 0px;
    margin: 0 auto;
}

.header-left-box {
    background: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
}

.header-img {
    background: white;
}

/* --------header-right--------- */
.header-right-top {
    background: #D5D5D5;
    width: 480px;
    height: 195px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;

    &:hover {
        box-shadow: 2px 2px 10px 2px #b7b6b67f;
        transition: 0.6s;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -ms-transition: 0.6s;
        -o-transition: 0.6s;
    }
}

.header-list {
    background: transparent;
    display: flex;
    align-items: center;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.header-item {
    background: transparent;
}

.top-img {
    width: 185px;
    background: transparent;

    &:hover {
        transform: scale(1.1);
    }
}

.header-list-title {
    font-size: 18px;

    font-weight: 600;
    line-height: 22px;
    text-align: center;
    background: transparent;
}

.header-list-text {
    background: transparent;
    font-size: 14px;

    font-weight: 400;
    line-height: 18px;
    text-align: center;

}

.header-rigth-btn {
    width: 100%;
    max-width: 160px;
    background-color: #FFFFFF99;
    color: #2D2D2D;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;

    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 20px auto;

    &:hover {
        background-color: #86888a5c;
        color: white;
    }
}

.header-image {
    width: 100%;
    max-width: 220px;
    height: 191px;
    background-color: transparent;

    &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

/* -----right-bottom------ */
.header-right-bottom {
    background-image: linear-gradient(#658caa7f, #628ab180, #6a80bb90, #8073bd84, #916bba79, #a061b381, #b055aa7d, #be489d94, #ca388d8c, #d4257aa1);
    padding: 10px 25px;
    margin-top: 10px;
    width: 100%;
    max-width: 430px;
    height: 180px;
    display: flex;
    border-radius: 12px;

    &:hover {
        box-shadow: 2px 2px 10px 2px #b7b6b6;
        transition: 0.6s;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -ms-transition: 0.6s;
        -o-transition: 0.6s;
    }
}

.header-right-left-title {
    background: transparent;
    padding: 12px 0;
    width: 100%;
    max-width: 250px;
    font-size: 16px;

}

.right-img {
    width: 214px;
    background: transparent;

    &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

.header-right-left-text {
    background: transparent;
    padding: 7px 0;
    font-size: 12px;

}

.header-right-left-btn {
    width: 100%;
    max-width: 160px;
    background-color: #FFFFFF99;
    color: #2D2D2D;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;

    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 20px auto;

    &:hover {
        background-color: rgba(255, 255, 255, 0.709);
        color: #BE489D;
    }
}

.header-right-left {
    background: transparent;
}

.header-right-right {
    background: transparent;
}

/* -------------------------hero-------------------- */
.hero {
    width: 100%;
}

.hero-list {
    display: flex;
    justify-content: space-between;
}

.hero-item1 {

    width: 243px;
    height: 345px;
    text-align: center;
    padding: 10px;
    align-items: center;
    border: 1px solid rgba(131, 124, 124, 0.094);
    text-align: center;
    background: #EEF7FF;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    &:hover {
        transform: scale(1.0101);
        -webkit-transform: scale(1.0101);
        -moz-transform: scale(1.0101);
        -ms-transform: scale(1.0101);
        -o-transform: scale(1.0101);
        box-shadow: 2px 2px 10px 2px #D5D5D5;
    }
}

.hero-item {
    padding: 10px;
    align-items: center;
    border: 1px solid rgba(131, 124, 124, 0.094);
    text-align: center;
    background: white;
    width: 203px;
    height: 345px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    &:hover {
        transform: scale(1.0101);
        -webkit-transform: scale(1.0101);
        -moz-transform: scale(1.0101);
        -ms-transform: scale(1.0101);
        -o-transform: scale(1.0101);
        box-shadow: 2px 2px 10px 2px #D5D5D5;
        transition: 0.6s;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -ms-transition: 0.6s;
        -o-transition: 0.6s;
    }
}

.hero-title {
    background: transparent;
    font-size: 22px;
    text-align: center;
    padding: 30px 0;

}

.iphone-one {
    background-color: transparent;


}

.hero-text {
    background: transparent;
    line-height: 15px;
    font-size: 12px;

}

.hero-btn {
    width: 100%;
    max-width: 160px;
    background-color: #0E50E9;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;

    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 10px auto;

    &:hover {
        background-color: rgba(255, 0, 0, 0.616);
        color: white;
    }
}

.iphone-two {
    width: 165px;

    background: transparent;
    padding: 20px 0;


}

.hero-subtitle {
    padding: 0px 10px;
    background: transparent;
    line-height: 20px;
    font-size: 14px;

    text-align: left;

}

.hero-info {
    padding: 0px 10px;
    background: transparent;
    text-align: left;
    line-height: 19px;
    font-size: 12px;

    color: black;
    opacity: 1;
}

.hero-price {
    padding: 0px 10px;
    background: transparent;
    text-align: left;
    line-height: 21px;
    font-size: 16px;

    color: #0E50E9;

}

/* ---------slider---- */
.slider-img {
    width: 200px;
    height: 200px;
    text-align: center;

    &:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
}

.slider-title {
    font-size: 18px;
    background: transparent;
    padding: 10px;

}

.service-title {
    font-size: 28px;
    background: transparent;
    margin: 0 10px;

}

/* ------articles------ */
.articles {
    width: 100%;
}

.articles-title {
    font-size: 28px;
    background: transparent;
    margin: 20px 15px;


}

.articles-list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.articles-item {
    height: 320px;
    border: 1px solid rgba(177, 173, 173, 0.316);
    width: 100%;
    max-width: 280px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    &:hover {
        transform: scale(1.0101);
        -webkit-transform: scale(1.0101);
        -moz-transform: scale(1.0101);
        -ms-transform: scale(1.0101);
        -o-transform: scale(1.0101);
        box-shadow: 2px 2px 10px 2px #D5D5D5;
        transition: 0.6s;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -ms-transition: 0.6s;
        -o-transition: 0.6s;
    }

}

.articles-img {
    width: 100%;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;

}

.articles-subtitle {
    font-size: 18px;
    background: transparent;
    width: 100%;
    padding: 10px;

}

.articles-text {
    font-size: 13px;
    background: transparent;
    width: 90%;
    padding: 10px;


}

/* -----comparsion------ */
.comparison-title {
    font-size: 28px;
    background: transparent;
    margin: 10px 0px 25px 10px;

}

.comparsion-img {
    width: 135px;
    background: transparent;

}

.comparsion-list {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.comparsion-item {
    padding: 15px 0;
    font-size: 18px;

    background: #FFFFFF;
    border: 1px solid rgba(192, 186, 186, 0.164);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;

    &:hover {
        transform: scale(1.0101);
        -webkit-transform: scale(1.0101);
        -moz-transform: scale(1.0101);
        -ms-transform: scale(1.0101);
        -o-transform: scale(1.0101);
        box-shadow: 2px 2px 10px 2px #D5D5D5;
        transition: 0.6s;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -ms-transition: 0.6s;
        -o-transition: 0.6s;
    }
}

.footer {
    width: 100%;
}

.footer-list {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
}

.footer-img {
    width: 100%;
    max-width: 95px;
    background: transparent;
}

.footer-subtitle {
    font-size: 12px;
    width: 50%;
}
.footer-item{
    width: 100%;
}

.footer-link{
    color:#2D2D2D;
    font-size: 14px;
    line-height: 26px;
}
.footer-title{
    font-size: 18px;
}
.footer-text{
    font-size: 12px;
    width: 87%;
}